@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --highlight:oklch(98.7% 0.026 102.212);

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --highlight:oklch(97.3% 0.071 103.193);

}

[data-palette] {
  --primary: var(--palette-600);
  --primary-foreground: oklch(0.985 0 0);
  --foreground: var(--palette-700);
  --card-foreground: var(--palette-700);
  --popover-foreground: var(--palette-700);
  --ring: var(--palette-500);
  --accent: var(--palette-100);
  --accent-foreground: var(--palette-900);
  --secondary: var(--palette-100);
  --secondary-foreground: var(--palette-900);
  --muted: var(--palette-50);
  --muted-foreground: var(--palette-700);
  --border: var(--palette-200);
  --input: var(--palette-200);
  --sidebar: var(--palette-50);
  --sidebar-foreground: var(--palette-900);
  --sidebar-primary: var(--palette-600);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--palette-200);
  --sidebar-accent-foreground: var(--palette-900);
  --sidebar-border: var(--palette-200);
  --sidebar-ring: var(--palette-500);
  --chart-1: var(--palette-300);
  --chart-2: var(--palette-400);
  --chart-3: var(--palette-500);
  --chart-4: var(--palette-600);
  --chart-5: var(--palette-700);
}

[data-palette="slate"] {
  --palette-50:  oklch(98.4% 0.003 247.858);
  --palette-100: oklch(96.8% 0.007 247.896);
  --palette-200: oklch(92.9% 0.013 255.508);
  --palette-300: oklch(86.9% 0.022 252.894);
  --palette-400: oklch(70.4% 0.04 256.788);
  --palette-500: oklch(55.4% 0.046 257.417);
  --palette-600: oklch(44.6% 0.043 257.281);
  --palette-700: oklch(37.2% 0.044 257.287);
  --palette-800: oklch(27.9% 0.041 260.031);
  --palette-900: oklch(20.8% 0.042 265.755);
}
[data-palette="gray"] {
  --palette-50:  oklch(98.5% 0.002 247.839);
  --palette-100: oklch(96.7% 0.003 264.542);
  --palette-200: oklch(92.8% 0.006 264.531);
  --palette-300: oklch(87.2% 0.01 258.338);
  --palette-400: oklch(70.7% 0.022 261.325);
  --palette-500: oklch(55.1% 0.027 264.364);
  --palette-600: oklch(44.6% 0.03 256.802);
  --palette-700: oklch(37.3% 0.034 259.733);
  --palette-800: oklch(27.8% 0.033 256.848);
  --palette-900: oklch(21% 0.034 264.665);
}
[data-palette="zinc"] {
  --palette-50:  oklch(98.5% 0 0);
  --palette-100: oklch(96.7% 0.001 286.375);
  --palette-200: oklch(92% 0.004 286.32);
  --palette-300: oklch(87.1% 0.006 286.286);
  --palette-400: oklch(70.5% 0.015 286.067);
  --palette-500: oklch(55.2% 0.016 285.938);
  --palette-600: oklch(44.2% 0.017 285.786);
  --palette-700: oklch(37% 0.013 285.805);
  --palette-800: oklch(27.4% 0.006 286.033);
  --palette-900: oklch(21% 0.006 285.885);
}
[data-palette="red"] {
  --palette-50:  oklch(97.1% 0.013 17.38);
  --palette-100: oklch(93.6% 0.032 17.717);
  --palette-200: oklch(88.5% 0.062 18.334);
  --palette-300: oklch(80.8% 0.114 19.571);
  --palette-400: oklch(70.4% 0.191 22.216);
  --palette-500: oklch(63.7% 0.237 25.331);
  --palette-600: oklch(57.7% 0.245 27.325);
  --palette-700: oklch(50.5% 0.213 27.518);
  --palette-800: oklch(44.4% 0.177 26.899);
  --palette-900: oklch(39.6% 0.141 25.723);
}
[data-palette="orange"] {
  --palette-50:  oklch(98% 0.016 73.684);
  --palette-100: oklch(95.4% 0.038 75.164);
  --palette-200: oklch(90.1% 0.076 70.697);
  --palette-300: oklch(83.7% 0.128 66.29);
  --palette-400: oklch(75% 0.183 55.934);
  --palette-500: oklch(70.5% 0.213 47.604);
  --palette-600: oklch(64.6% 0.222 41.116);
  --palette-700: oklch(55.3% 0.195 38.402);
  --palette-800: oklch(47% 0.157 37.304);
  --palette-900: oklch(40.8% 0.123 38.172);
}
[data-palette="amber"] {
  --palette-50:  oklch(98.7% 0.022 95.277);
  --palette-100: oklch(96.2% 0.059 95.617);
  --palette-200: oklch(92.4% 0.12 95.746);
  --palette-300: oklch(87.9% 0.169 91.605);
  --palette-400: oklch(82.8% 0.189 84.429);
  --palette-500: oklch(76.9% 0.188 70.08);
  --palette-600: oklch(66.6% 0.179 58.318);
  --palette-700: oklch(55.5% 0.163 48.998);
  --palette-800: oklch(47.3% 0.137 46.201);
  --palette-900: oklch(41.4% 0.112 45.904);
}
[data-palette="yellow"] {
  --palette-50:  oklch(98.7% 0.026 102.212);
  --palette-100: oklch(97.3% 0.071 103.193);
  --palette-200: oklch(94.5% 0.129 101.54);
  --palette-300: oklch(90.5% 0.182 98.111);
  --palette-400: oklch(85.2% 0.199 91.936);
  --palette-500: oklch(79.5% 0.184 86.047);
  --palette-600: oklch(68.1% 0.162 75.834);
  --palette-700: oklch(55.4% 0.135 66.442);
  --palette-800: oklch(47.6% 0.114 61.907);
  --palette-900: oklch(42.1% 0.095 57.708);
}
[data-palette="lime"] {
  --palette-50:  oklch(98.6% 0.031 120.757);
  --palette-100: oklch(96.7% 0.067 122.328);
  --palette-200: oklch(93.8% 0.127 124.321);
  --palette-300: oklch(89.7% 0.196 126.665);
  --palette-400: oklch(84.1% 0.238 128.85);
  --palette-500: oklch(76.8% 0.233 130.85);
  --palette-600: oklch(64.8% 0.2 131.684);
  --palette-700: oklch(53.2% 0.157 131.589);
  --palette-800: oklch(45.3% 0.124 130.933);
  --palette-900: oklch(40.5% 0.101 131.063);
}
[data-palette="green"] {
  --palette-50:  oklch(98.2% 0.018 155.826);
  --palette-100: oklch(96.2% 0.044 156.743);
  --palette-200: oklch(92.5% 0.084 155.995);
  --palette-300: oklch(87.1% 0.15 154.449);
  --palette-400: oklch(79.2% 0.209 151.711);
  --palette-500: oklch(72.3% 0.219 149.579);
  --palette-600: oklch(62.7% 0.194 149.214);
  --palette-700: oklch(52.7% 0.154 150.069);
  --palette-800: oklch(44.8% 0.119 151.328);
  --palette-900: oklch(39.3% 0.095 152.535);
}
[data-palette="emerald"] {
  --palette-50:  oklch(97.9% 0.021 166.113);
  --palette-100: oklch(95% 0.052 163.051);
  --palette-200: oklch(90.5% 0.093 164.15);
  --palette-300: oklch(84.5% 0.143 164.978);
  --palette-400: oklch(76.5% 0.177 163.223);
  --palette-500: oklch(69.6% 0.17 162.48);
  --palette-600: oklch(59.6% 0.145 163.225);
  --palette-700: oklch(50.8% 0.118 165.612);
  --palette-800: oklch(43.2% 0.095 166.913);
  --palette-900: oklch(37.8% 0.077 168.94);
}
[data-palette="teal"] {
  --palette-50:  oklch(98.4% 0.014 180.72);
  --palette-100: oklch(95.3% 0.051 180.801);
  --palette-200: oklch(91% 0.096 180.426);
  --palette-300: oklch(85.5% 0.138 181.071);
  --palette-400: oklch(77.7% 0.152 181.912);
  --palette-500: oklch(70.4% 0.14 182.503);
  --palette-600: oklch(60% 0.118 184.704);
  --palette-700: oklch(51.1% 0.096 186.391);
  --palette-800: oklch(43.7% 0.078 188.216);
  --palette-900: oklch(38.6% 0.063 188.416);
}
[data-palette="cyan"] {
  --palette-50:  oklch(98.4% 0.019 200.873);
  --palette-100: oklch(95.6% 0.045 203.388);
  --palette-200: oklch(91.7% 0.08 205.041);
  --palette-300: oklch(86.5% 0.127 207.078);
  --palette-400: oklch(78.9% 0.154 211.53);
  --palette-500: oklch(71.5% 0.143 215.221);
  --palette-600: oklch(60.9% 0.126 221.723);
  --palette-700: oklch(52% 0.105 223.128);
  --palette-800: oklch(45% 0.085 224.283);
  --palette-900: oklch(39.8% 0.07 227.392);
}
[data-palette="sky"] {
  --palette-50:  oklch(97.7% 0.013 236.62);
  --palette-100: oklch(95.1% 0.026 236.824);
  --palette-200: oklch(90.1% 0.058 230.902);
  --palette-300: oklch(82.8% 0.111 230.318);
  --palette-400: oklch(74.6% 0.16 232.661);
  --palette-500: oklch(68.5% 0.169 237.323);
  --palette-600: oklch(58.8% 0.158 241.966);
  --palette-700: oklch(50% 0.134 242.749);
  --palette-800: oklch(44.3% 0.11 240.79);
  --palette-900: oklch(39.1% 0.09 240.876);
}
[data-palette="blue"] {
  --palette-50:  oklch(97% 0.014 254.604);
  --palette-100: oklch(93.2% 0.032 255.585);
  --palette-200: oklch(88.2% 0.059 254.128);
  --palette-300: oklch(80.9% 0.105 251.813);
  --palette-400: oklch(70.7% 0.165 254.624);
  --palette-500: oklch(62.3% 0.214 259.815);
  --palette-600: oklch(54.6% 0.245 262.881);
  --palette-700: oklch(48.8% 0.243 264.376);
  --palette-800: oklch(42.4% 0.199 265.638);
  --palette-900: oklch(37.9% 0.146 265.522);
}
[data-palette="indigo"] {
  --palette-50:  oklch(96.2% 0.018 272.314);
  --palette-100: oklch(93% 0.034 272.788);
  --palette-200: oklch(87% 0.065 274.039);
  --palette-300: oklch(78.5% 0.115 274.713);
  --palette-400: oklch(67.3% 0.182 276.935);
  --palette-500: oklch(58.5% 0.233 277.117);
  --palette-600: oklch(51.1% 0.262 276.966);
  --palette-700: oklch(45.7% 0.24 277.023);
  --palette-800: oklch(39.8% 0.195 277.366);
  --palette-900: oklch(35.9% 0.144 278.697);
}
[data-palette="violet"] {
  --palette-50:  oklch(96.9% 0.016 293.756);
  --palette-100: oklch(94.3% 0.029 294.588);
  --palette-200: oklch(89.4% 0.057 293.283);
  --palette-300: oklch(81.1% 0.111 293.571);
  --palette-400: oklch(70.2% 0.183 293.541);
  --palette-500: oklch(60.6% 0.25 292.717);
  --palette-600: oklch(54.1% 0.281 293.009);
  --palette-700: oklch(49.1% 0.27 292.581);
  --palette-800: oklch(43.2% 0.232 292.759);
  --palette-900: oklch(38% 0.189 293.745);
}
[data-palette="purple"] {
  --palette-50:  oklch(97.7% 0.014 308.299);
  --palette-100: oklch(94.6% 0.033 307.174);
  --palette-200: oklch(90.2% 0.063 306.703);
  --palette-300: oklch(82.7% 0.119 306.383);
  --palette-400: oklch(71.4% 0.203 305.504);
  --palette-500: oklch(62.7% 0.265 303.9);
  --palette-600: oklch(55.8% 0.288 302.321);
  --palette-700: oklch(49.6% 0.265 301.924);
  --palette-800: oklch(43.8% 0.218 303.724);
  --palette-900: oklch(38.1% 0.176 304.987);
}
[data-palette="fuchsia"] {
  --palette-50:  oklch(97.7% 0.017 320.058);
  --palette-100: oklch(95.2% 0.037 318.852);
  --palette-200: oklch(90.3% 0.076 319.62);
  --palette-300: oklch(83.3% 0.145 321.434);
  --palette-400: oklch(74% 0.238 322.16);
  --palette-500: oklch(66.7% 0.295 322.15);
  --palette-600: oklch(59.1% 0.293 322.896);
  --palette-700: oklch(51.8% 0.253 323.949);
  --palette-800: oklch(45.2% 0.211 324.591);
  --palette-900: oklch(40.1% 0.17 325.612);
}
[data-palette="pink"] {
  --palette-50:  oklch(97.1% 0.014 343.198);
  --palette-100: oklch(94.8% 0.028 342.258);
  --palette-200: oklch(89.9% 0.061 343.231);
  --palette-300: oklch(82.3% 0.12 346.018);
  --palette-400: oklch(71.8% 0.202 349.761);
  --palette-500: oklch(65.6% 0.241 354.308);
  --palette-600: oklch(59.2% 0.249 0.584);
  --palette-700: oklch(52.5% 0.223 3.958);
  --palette-800: oklch(45.9% 0.187 3.815);
  --palette-900: oklch(40.8% 0.153 2.432);
}
[data-palette="rose"] {
  --palette-50:  oklch(96.9% 0.015 12.422);
  --palette-100: oklch(94.1% 0.03 12.58);
  --palette-200: oklch(89.2% 0.058 10.001);
  --palette-300: oklch(81% 0.117 11.638);
  --palette-400: oklch(71.2% 0.194 13.428);
  --palette-500: oklch(64.5% 0.246 16.439);
  --palette-600: oklch(58.6% 0.253 17.585);
  --palette-700: oklch(51.4% 0.222 16.935);
  --palette-800: oklch(45.5% 0.188 13.697);
  --palette-900: oklch(41% 0.159 10.272);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}